<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>bing.wallpaper.mac</string>
   <key>ProgramArguments</key>
   <array>
      <string>/Users/username/Applications/Bing Wallpaper/CheckBingStatus.app/Contents/MacOS/Application Stub</string>
   </array>
   <!-- This runs the script on startup -->
   <!--
   <key>RunAtLoad</key>
   <true/>
   -->
   <!-- This is to run the app at specified intervals -->
<!-- -->
	<key>StartInterval</key>
      <integer>3600</integer>

	<!-- This is to run the app at certain calendar time -->
<!--
   <key>StartCalendarInterval</key>
   <dict>
      <key>Minute</key>
      <integer>0</integer>
      <key>Hour</key>
      <integer>8</integer>
   </dict>
-->
</dict>
</plist>
